body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.03em;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

ul {
  list-style: none;
}
